/* projects.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.project.container.section {
  padding: 2rem 0;
}

.section__title {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.section__title2 {
  margin-bottom: 2rem;
  text-align: center;
}

.highlight__text {
  color: var(--first-color);
}

.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  row-gap: 1.875rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .project__container {
    grid-template-columns: 1fr;
    padding: 0;
    width: 60%;
    margin: auto;
  }
}

.project__card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.project__thumb {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.project__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s;
}

.project__card:hover .project__img {
  transform: scale(1.1);
}

.project__category {
  color: #fff;
  background-color: #007bff;
  border-bottom-left-radius: 0.9375rem;
  border-bottom-right-radius: 0.9375rem;
  position: absolute;
  top: 0;
  left: 1.25rem;
  font-size: 0.875rem;
  display: inline-block;
  padding: 0.19rem 1rem;
  transition: 0.3s;
  z-index: 1;
}

.project__details {
  padding: 1.25rem;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.project__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project__meta {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.875rem;
  color: #8b88b1;
}

.project__dot {
  font-size: 14px;
  color: rgb(110, 110, 253);
  margin-bottom: 1rem;
  padding: 3px;
  white-space: pre-wrap;
  word-break: break-word;
}

.btn__project {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}
