.pdf__viewer {
  padding: 5px;
  background-color: #fff;
  /* background-color: black; */
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 50px auto;
}

.pdf-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.pdf-div p {
  font-size: 16px;
  color: #333;
  /* margin-top: 10px; */
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  gap: 10px;
}

@media (min-width: 600px) {
  .btn-container {
    flex-direction: row;
  }
}

@media (min-width: 800px) {
  .pdf__viewer {
    padding: 40px;
  }

  .btn {
    max-width: none;
  }
}
