.about {
  position: relative;
  min-height: 100vh;
  font-size: 20px;
}

@media (max-width: 800px) {
  .about {
    bottom: 40px;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 3fr 9fr; /* Default layout */
  column-gap: 1.875rem;
  margin-top: 1.5rem;
  margin-bottom: 80px;
}

.about__img {
  width: 100%; /* Ensure the image takes full width of its container */
  object-fit: cover; /* Cover the area without stretching */
}

.about__data {
  display: grid;
  grid-template-columns: 1fr; /* Stack text content in one column on mobile */
  width: 100%; /* Ensure it takes full width */
}

.about__info {
  text-align: left; /* Default alignment */
  padding: 0 1rem; /* Add padding to avoid touching edges */
}

@media (max-width: 768px) {
  .about__img {
    display: none; /* Hide the image */
  }

  .about__container {
    grid-template-columns: 1fr; /* Stack content vertically on mobile */
    margin-bottom: 40px; /* Adjust margin if needed */
  }

  .about__data {
    width: 100%; /* Ensure full width */
  }

  .about__info {
    text-align: justify; /* Center-align text when image is hidden */
    padding: 0 1rem; /* Add horizontal padding */
  }
}

.about__about {
  margin-bottom: 1rem;
  text-align: left; /* Default alignment */
  padding: 0 1rem; /* Add padding to ensure text does not touch edges */
}

@media (max-width: 768px) {
  .about__about {
    text-align: justify; /* Center-align text on mobile */
    padding: 0 1rem; /* Add horizontal padding */
    font-size: 15px;
  }
}

.about__skills {
  row-gap: 1.25rem;
  margin-top: 2.5rem;
}

.section__title__about {
  margin-bottom: 3rem;
}

@keyframes textreveal {
  to {
    background-size: 100% 100%;
  }
}

.icons__skills {
  font-size: 30px;
  margin: 10px; /* Adjust margin to ensure spacing between icons */
  padding: 20px;
  border: 2px solid var(--container-color);
  display: flex; /* Use Flexbox for centering content within each icon */
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.icons__skills:hover {
  transform: scale(1.02);
  border: 2px solid var(--first-color);
  cursor: pointer;
}

.icons__container {
  display: grid;
  gap: 10px; /* Gap between grid items */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust column size */
  transition: all 0.3s ease-in-out;
  padding: 20px; /* Add padding to ensure content is not too close to the edges */
}

@media (max-width: 1200px) {
  .icons__skills {
    font-size: 25px;
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .icons__skills {
    font-size: 20px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .icons__skills {
    font-size: 18px;
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .icons__skills {
    font-size: 16px;
    padding: 5px;
    margin: 1px;
  }
}
