.gsap__container {
    overflow: hidden;
    padding-top: 2rem;
    margin-bottom: 30rem;
}

.split {
    font-size: 8vw;
    font-family: "Syncopate", sans-serif;
    margin: 0;
    line-height: 0.8;
}
