.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row; /* Default layout */
}

.intro {
  max-width: 540px;
  text-align: center;
  margin-right: 100px;
}

.home__img {
  display: block;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5%;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 9px rgb(255 255 255 / 30%);
  animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home__img:hover {
  box-shadow: rgba(255, 255, 0, 0.56) 0px 22px 70px 4px;
  cursor: pointer;
}

.home__name {
  font-size: 50px;
  margin-bottom: 0.5rem;
}

.home__socials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem 0;
  font-size: x-large;
}

.home__social-link {
  color: var(--title-color);
  font-size: 1.3rem;
  transition: 0.3s;
  font-size: x-large;
}

.home__social-link:hover {
  color: var(--first-color);
}

@media (max-width: 800px) {
  .home {
    display: flex;
    flex-direction: column-reverse; /* Change to column layout */
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .intro {
    margin-right: 0; /* Remove right margin */
    margin-top: 1rem; /* Add top margin for spacing */
  }

  .intro h1 {
    font-size: 2rem;
  }
}
