/* Default styles for the sidebar */
.aside {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--body-color);
  padding: 2.5rem;
  width: 110px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  
  box-shadow: 0px 0px 10px 5px var(--first-color-rgb); /* Adjust the alpha value */
  
  backdrop-filter: blur(10px);
}



.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.nav__link {
  font-size: large;
  color: var(--title-color);
  font-weight: var(--font-bold);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__logo .nav__logo__img {
  /* border: 2px solid black; */
  border-radius: 20px;
}

.copyright {
  color: hsl(245, 15%, 65%);
  font-size: var(--small-font-size);
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .aside {
    position: fixed;
    left: 0px;
    bottom: 0;
    top: auto;
    width: 100%;
    min-height: 50px;
    flex-direction: row;
    padding: 1rem;
    padding-right: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-right: none;
    justify-content: center; /* Center the navigation links */
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
    row-gap: 0;
  }

  .nav__link {
    font-size: small;
  }

  .nav__logo,
  .copyright {
    display: none;
  }
  .play__component {
    display: none;
  }
}


/* Tooltip container styling */
.nav__link,
.theme-toggle {
  position: relative;
}

.nav__link:hover .tooltip,
.theme-toggle:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Tooltip styling */
.tooltip {
  border: 1px solid var(--container-color);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  padding: 0.5rem 1rem;
  background-color: var(--body-color);
  color: var(--text-color);
  font-size: small;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
  pointer-events: none;
}



/* Style for active navigation link */

.nav__item.active .nav__link i {
  color: var(--first-color);
}

/* ============ Dot animation ============= */

.three-body {
  --uib-size: 20px;
  --uib-speed: 0.8s;
  --uib-color: var(--first-color);
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 100%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}



/* ============== theme toggle 2 =========== */

