/* From Uiverse.io by catraco */ 
/*------ Settings ------*/
.theme_container {
  margin-right: 0.5rem;
  margin-top: 0.6rem;
  --color: var(--text-color);
  --size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.theme_container .moon {
  position: absolute;
  animation: keyframes-fill .5s;
}

.theme_container .sun {
  position: absolute;
  display: none;
  animation: keyframes-fill .5s;
}

/* ------ On check event ------ */
.theme_container input:checked ~ .moon {
  display: none;
}

.theme_container input:checked ~ .sun {
  display: block;
}

/* ------ Hide the default checkbox ------ */
.theme_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}