.main {
  margin-left: 110px;
  padding: 20px;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.pdf__viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}
